/* --- Body --- */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #444;
  margin: 0;
  padding: 0;
}

/* --- Header & Nav --- */
.site-header {
  height: 110px;
  width: 100%;
  display: flex;
}

.header-container {
  max-width: 1100px;
  height: 100%;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo-and-heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  padding: 0px;
  margin: 0px;
}

.logo-vectors {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 0px;
}

.main-nav-container {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.main-nav {
  list-style: none;
  display: flex;
  height: 100%;
}
.main-nav a {
  padding: 5px 12px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  width: 100%;
}

.main-nav div {
  display: flex;
  align-items: stretch;
  height: 100%;
  width: 130px;
}

.nav-container-home {
  background-color: #2ecc71;
}

.nav-container-portfolio {
  background-color: #f1c40f;
}

.nav-container-blog {
  background-color: #e74c3c;
}

.nav-container-quo {
  background-color: #3498db;
}

.nav-container-lets-chat {
  background-color: #34495e;
}

/* --- Hero Section --- */

.hero {
  background-color: #bdc3c7;
  display: flex;
  justify-content: center;
}

.hero img {
  width: 1000px;
  height: 450px;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-20%);
  z-index: 2;
}

.hero-text {
  list-style: none;
  font-weight: bold;
  font-size: 24px;
  margin-left: 40px;
  margin-bottom: 100px;
  padding: 0;
}

.hero-title {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  background: white;
  border-left: 6px solid #3498db;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  width: 180px;
  margin: 5px;
}

.hero-subtitle {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  background: white;
  border-left: 6px solid #e74c3c;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  width: 240px;
  margin: 5px;
}

.hero-tagline {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  background: white;
  border-left: 6px solid #f1c40f;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  width: 340px;
  margin: 5px;
}

.button-container-2 {
  height: 450px;
  width: 1000px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.button-container {
  height: 100px;
  width: 1150px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.button {
  display: block;
  width: fit-content;
  height: fit-content;
  z-index: 2;
}

.imgSlider {
  position: relative; /* THIS is the key */
  display: none;
}

.imgSlider.active {
  display: block;
}

.imgSlider img {
  position: relative;
  z-index: 1;
}

/* --- Sections Common --- */
section {
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 20px;
}

.section-heading-pink-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-heading-pink-border h2 {
  margin-bottom: 0;
}

.section-heading-pink-border p {
  margin-top: 0;
  margin-bottom: 50px;
}

.section-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.section-heading h2 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.section-heading p {
  color: #888;
  font-size: 12px;
}

.services-p {
  font-size: 12px;
  text-align: left;
  max-width: 232px;
}

.pink-border {
  padding: 20px;
  display: inline-block;
  width: 100%;
}

/* --- Intro --- */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.intro h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 0;
  font-weight: bold;
}

.intro span {
  color: #3498db;
  font-weight: bold;
}

/* --- Grids --- */
.services-grid,
.blog-grid,
.portfolio-grid,
.client-grid {
  display: grid;
  gap: 30px;
}

.services-grid {
  grid-template-columns: repeat(4, 1fr);
}

.blog-grid {
  grid-template-columns: repeat(3, 1fr);
}

.portfolio-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.client-grid {
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

/* Icons */
.icon-box {
  font-size: 40px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto 20px;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow {
  border-color: #f1c40f;
  color: #f1c40f;
}

.green {
  border-color: #2ecc71;
  color: #2ecc71;
}

.red {
  border-color: #e74c3c;
  color: #e74c3c;
}

.blue {
  border-color: #3498db;
  color: #3498db;
}

/* Blog Cards */

.date-box-red {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  background-color: #e74c3c;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.date-box-2025 {
  font-size: 10px;
}

.blog-card {
  position: relative;
}

.blog-card img,
.portfolio-grid img {
  width: 100%;
  display: block;
}

.blog-info {
  background: #3498db;
  color: white;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.blog-info span {
  float: right;
  font-size: 12px;
  opacity: 0.8;
}

/* --- Footer --- */
.site-footer {
  background: #1a2a3a;
  color: #bdc3c7;
  padding-top: 40px;
  text-align: left;
}

.content-in-footer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
}

.footer-top {
  max-width: 760px;
  display: grid;
  align-items: start;
  margin: 0 auto 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #2c3e50;
  padding-bottom: 20px;
}

.footer-avatar {
  grid-column: 1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.bio-alf {
  grid-column: 2, 5;
}

.footer-main {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-bottom: 40px;
}

.about-us-p {
  font-size: 12px;
}

.footer-h {
  color: white;
  margin-bottom: 20px;
  padding-bottom: 5px;
  display: inline-block;
}
/* 
.yellow-underline {
  border-bottom: 2px solid #f1c40f;
} */

/* .blue-underline {
  border-bottom: 2px solid #3498db;
} */

/* Instagram Grid */
.insta-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.insta-grid img {
  width: 100%;
  width: 64px;
  height: 64px;
}

.footer-mastodon {
  max-width: 320px;
}

.mastodon-p {
  font-size: 9px;
}

.bio-alf::after {
  content: "";
  display: block;
  width: 118px;
  height: 4px;
  background-color: #f5c400;
  margin-top: 12px;
}

.aboutus-h {
  font-size: 15px;
  color: #ffb901;
}
.aboutus-h::after {
  content: "";
  display: block;
  width: 232px;
  height: 1px;
  background-color: #21c183;
  margin-top: 12px;
}

.insta-h {
  font-size: 15px;
  color: #de6262;
}
.insta-h::after {
  content: "";
  display: block;
  width: 232px;
  height: 1px;
  background-color: #3498db;
  margin-top: 12px;
}

.mastodon-h {
  font-size: 15px;
  color: #19b2de;
}
.mastodon-h::after {
  content: "";
  display: block;
  width: 232px;
  height: 1px;
  background-color: #f5c400;
  margin-top: 12px;
}

.Track-us-h {
  font-size: 15px;
  color: #ffffff;
}
.Track-us-h::after {
  content: "";
  display: block;
  width: 146px;
  height: 1px;
  background-color: #3498db;
  margin-top: 12px;
}

.footer-track-us {
  max-width: 144px;
}

/* Social Squares */
.social-squares {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-bottom: 15px;
  max-width: 144px;
}

.sq {
  width: 30px;
  height: 30px;
}

.sq.blue {
  background: #3498db;
}

.sq.orange {
  background: #e67e22;
}

.sq.cyan {
  background: #1abc9c;
}

.sq.pink {
  background: #e91e63;
}

.sq.gold {
  background: #f1c40f;
}

/* Newsletter */
.newsletter {
  display: flex;
  max-width: 143.92px;
}

::placeholder {
  color: #ffffff;
  font-size: 12px;
}

.newsletter input {
  background: #de6262;
  border: none;
  padding: 10px;
  color: white;
  width: 80%;
}

.newsletter button {
  background: #f1c40f;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.site-footer {
  position: relative;
  background: #0c2f4a;
  padding-bottom: 48px;
}

.footer-bottom-bar {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 0;
  max-width: 272px;
  max-height: 17px;
}
/* 
.site-footer::after{

  content: "";
  position: absolute;
  bottom: 16px;         
  left: 50%;
  transform: translateX(-50%);

  height: 10px;

  background: linear-gradient(
    to right,
    #1abc9c 0%,
    #1abc9c 20%,
    #f1c40f 20%,
    #f1c40f 40%,
    #e74c3c 40%,
    #e74c3c 60%,
    #3498db 60%,
    #3498db 80%,
    #2c3e50 80%,
    #2c3e50 100%
  );
} */

/* Bottom Color Bar */
/* .footer-bottom-bar {
  display: flex;
  height: 10px;
}

.footer-bottom-bar div {
  flex: 1;
}

.bar-green {
  background: #2ecc71;
}

.bar-yellow {
  background: #f1c40f;
}

.bar-red {
  background: #e74c3c;
}

.bar-blue {
  background: #3498db;
}

.bar-dark {
  background: #1a2a3a;
} */
